*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;
}

.all{
    background-color: #FBF9F5;
    display: flex;
}

.left{
    width: 50%;
    height: 100vh;
    border-right: 1px solid #8d8a8a;
    position: fixed;
    left: 0;
    top: 0;
}

.stat{
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
}


.stat img{
    width: 30px;
    height: 30px;
}

.left h1{
    font-weight: 500;
    font-size: 26px;
    margin-top: -1px;
    margin-top: 10px;
}
.stat h2{
    margin-left: 2%;
    font-size: 17px;
    font-weight: 500;
}
.right{
    width: 50%;
    margin-left: 50%;
}

.profile{
    margin-top: 3vh;
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 30vh;
    border-radius: 20px;
    background-color: #E5E5E5;
    color: #fff;
}

.profile-img{
    height: 25vh;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 5vh;
}
.profile-img img{
    height: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items:center;
}
#email{
    width: 28px;
    height: 28px;
}
#half{
    height:25px;
    width: 24px;
    margin-top: 1px;
}
#rev{
    margin-left: 0%;
    font-size: 16px;
}
.stat h3{
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
}
.card{
    position: relative;
    width: 70%;
    height: 20vh;
    margin-top: 20px;
    display: flex;
    border-bottom: 2px solid rgb(87, 85, 85);
    padding-left: 3%;
    cursor: pointer;
}

.card-img {
    width: 30%;
    max-height: 300px; /* Ograniči visinu kontejnera */
    overflow: hidden;  /* Sakrij višak ako slika prelazi */
}

.card-img img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ako želiš da preseče višak slike */
    display: block;

}

#star{
    height:20px;
    width: 20px;
}
#start{
    margin-left: 20px;
    height:20px;
    width: 20px;
}

.card-second{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 35%;
}

.up, .down{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.up{
    align-items: end;
}

.up h2{
    font-size: 22px;
}
.down h3{
    font-weight: 500;
    font-size: 17px;
    color: rgb(87, 85, 85);
}

.icon{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
}
.icon h4{
    font-size: 12px;
    font-weight: 600;
}
.icon img{
    height: 60%;
}
.heart{
    display: flex;
    align-items: center;
    margin-left: 5%;
    transform: scale(0.9);
}

.right h1{
    margin-left: 15%;
    margin-top: 3vh;
    font-weight: 600;
}